root = true

[*.{kt,kts}]
ktlint_code_style = intellij_idea
ktlint_experimental = disabled

max_line_length = 120
ij_kotlin_allow_trailing_comma = false
ij_kotlin_allow_trailing_comma_on_call_site = false